<footer class="foot">
  <center><h1>Share</h1></center>
  <center>
    <ul class="foot-social">
      <li>
        <a href="https://twitter.com/MiguelRust3"><%= fa_icon("twitter") %></a>
      </li>
      <li>
        <a href="https://github.com/prettygoodstudios/Mon"><%= fa_icon("github") %></a>
      </li>
      <li>
        <a href="https://www.facebook.com/miguel.rust.3"><%= fa_icon("facebook") %></a>
      </li>
    </ul>
  </center>
  <center><p>&copy Miguel Rust 2017</p></center>
</footer>