<footer class="foot">
  <center><h1>Share</h1></center>
  <center>
    <ul class="foot-social">
      <li>
        <a><%= fa_icon("twitter") %></a>
      </li>
      <li>
        <a><%= fa_icon("github") %></a>
      </li>
      <li>
        <a><%= fa_icon("facebook") %></a>
      </li>
    </ul>
  </center>
  <center><p>&copy Miguel Rust 2017</p></center>
</footer>