<li class="nav-item dropdown pull-right">
  <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <%= current_user.email %><img src='<%= gravatar_url(current_user.email,30) %>' style='border-radius:50%;'>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
    <%= link_to "Edit Profile", edit_user_registration_path, class: 'dropdown-item' %>
  </div>
</li>