<li class="profile-item">
  <button class="nav-option profile-toggle" >
   <%= current_user.email %><img src='<%= gravatar_url(current_user.email,30) %>' style='border-radius:50%;'>
  </button>
  <ul class="profile-menu">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'profile-option' %>
    <%= link_to "Edit Profile", edit_user_registration_path, class: 'profile-option' %>
  </ul>
</li>