/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "font-awesome";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Raleway');
 
 .navbar-brand{
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  margin-right: 9px !important;
 }
 .nav-item{
  margin: 10px !important;
  font-size: 30px;
 }
 .dropdown-menu{
  font-size: 20px !important;
  border: none;
  background-color:#f7f7f7;
 }
 @media (min-width: 992px){
    .dropdown-menu>a:hover{
     background-color:#ffffff;
    }
    /*
     * styles go here
     */
 } 
body{
 font-family: 'Raleway', sans-serif !important;
}

/*Schedule Styles */

@media only screen and (max-width: 768px){
 .hours{
  display: none !important;
 }
}
.schedule{
 z-index: -1;
 border: 20px solid #C75850;
 border-radius: 20px 20px 0px 0px;
 background-color: #C75850;
 margin: 0px;
 width: 100% !important;
}
.schedule > row{
 background-color: white !important;
}
ul{
 list-style: none;
 margin: 0px;
 padding: 0px;
}
li{
 height: 50px;
 vertical-align: baseline;
}
.hours> ul > li:nth-child(even){
 background-color: #e0e0e0;
}
.hours> ul > li:nth-child(odd){
 background-color: #ffffff;
}
.hours{
 display: inline;
 padding: 0px;
 margin: 0px;
}
.day{
 position: relative;
 text-align: center;
 display: inline;
 margin: 0px;
 padding: 0px;
 border: 0px;
}
.title{
 height: 100px;
 background-color: #C75850;
 color: #ffffff;
 padding: 0px;
 margin: 0px;
 font-size: 10px;
}
@media only screen and (min-width: 768px){
 .event{
  position: absolute;
 }
 .title>h1{
  font-size: 20px;
  text-overflow: ellipsis;
 }
 .mobile-menu{
  display: none;
 }
 .desktop-menu{
  display: inline;
 }
 .mobile-toggle{
  display: none;
 }
 .nav-option{
  display: inline;
 }
 .profile-menu{
   z-index: 999;
  position: absolute;
  background-color: white;
  width: 100%;
  border: 1px solid #C75850;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
  padding: 10px;
  top: 20px;
  left: 0px;
 }
 .option-group{
  float: right;
 }
 .week-item{
  height: 75px;
 }
}
@media only screen and (max-width: 768px){
 .event{
  height: 100px !important;
 }
 .desktop-menu{
  display: none;
 }
 .mobile-menu{
  display: block;
 }
 .mobile-toggle{
  display: block;
 }
 .nav-option{
  display: none;
  font-size: 30px;
 }
 .week-item{
  height: 125px;
 }
 .time-slot{
  border-radius: 20px !important;
  padding: 20px;
 }
 .event{
  margin-bottom: 10px;
 }
 .day:nth-child(even){
  background-color: #C75850 !important;
 }
 .day:nth-child(odd){
  background-color: #C75850 !important;
 }
}
.event:nth-child(even){
 background-color:#FFD766;
}
.event:nth-child(odd){
 background-color:#2C3E50;
}
.time-slot{
 position: relative;
}
/*
.day:nth-child(odd){
 background-color: #efebe9 !important;
}
.day:nth-child(even){
 background-color: #ffffff !important;
}
*/
.event{
 border-radius: 20px;
}
.event>a{
 color:white;
 font-size:30px;
}
.event-half{
 background-color: white;
}
.add-week{
 color: white;
 font-size: 50px;
 vertical-align: top;
}
.add-week:hover{
 color: gray;
 text-decoration: none;
}
nav{
 margin-bottom: 30px;
}
.index-title{
 color: white;
}
.user-email{
 color: white;
}
.schedule label,em{
 color: white;
}
/*Navbar*/
.header{
 padding: 20px;
 border-bottom: 2px solid #C75850;
}
.branding:hover{
 text-decoration: none;
 display: inline;
}
.nav-option{
 color: black;
 font-weight: 100;
}
.nav-option:hover{
 color: gray;
 text-decoration: none;
}
.desktop-menu li{
 display: inline;
 margin-left: 20px;
 font-size: 30px;
 vertical-align: bottom;
 height: auto;
}
.mobile-menu li{
 display: block;
 margin-bottom: 20px;
 height: auto;
}
.mobile-menu .branding{
 margin-bottom: 20px;
}
.mobile-toggle{
 background-color: white;
 border-radius: 0px !important;
 border: 1px solid #C75850;
 float: right;
 font-size: 20px;
 color: black;
}
.mobile-toggle:focus{
 outline: none;
}
.mobile-toggle:hover{
 color: white;
 background-color: #C75850;
}
.profile-toggle{
 border: 0px;
 background-color: white;
 color: black;
 padding: 0px;
 font-weight: 100;
}
.profile-toggle:focus{
 outline: none;
}
.profile-menu{
 display: none;
 list-style: none;
}
.profile-option{
 color: black;
 font-size: 20px;
 display: block;
}
.profile-option:hover{
 color: gray;
 text-decoration: none;
}
.profile-item{
 position: relative;
}
/*Week List*/
.week-list{
 background-color: white;
 border-radius: 20px;
 padding: 20px;
}
.week-item{
 color: white;
 padding: 10px;
 border-radius: 20px;
 margin-bottom: 10px;
 font-size: 30px;
}
.week-item:nth-child(even){
 background-color:#FFD766;
}
.week-item:nth-child(odd){
 background-color:#2C3E50;
}
.week-option{
 color: white;
 font-size: 50px;
}
.week-option:hover{
 color: gray;
}
@media only screen and (max-width: 347px){
 .week-item{
  height: 160px;
 }
}
/*Footer*/
.content {
  min-height: calc(100vh - 90px);
  margin-bottom: 50px;
}
.foot{
 height: 50px;
 background-color: white;
 width: 100%;
 padding: 10px;
 border-top: 2px solid #C75850;
}
.foot-social>li{
 display: inline;
}
.foot-social>li>a{
 display: inline;
 font-size: 50px;
 color: black;
}
.foot-social>li>a:hover{
 text-decoration: none;
 color: gray;
}